.loader_container {
  width: 100%;
  height: 498px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wheel {
  border: 7px solid #773ed7;
  border-radius: 50%;
  border-left-color: transparent;
  width: 80px;
  height: 80px;
  animation: gyre 1s linear infinite;
}

@keyframes gyre {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
